@using WebsiteCommon.Applications
@model WebsiteAdmin.Models.ApplicationViewModel

@{
    ViewBag.Title = "Edit Application";
}

@section Scripts{
    <script src="~/js/application.js"></script>
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (ViewData.ModelState.IsValid)
                    {
                        <span>Edit application for @ViewBag.CustomerName</span>
                    }
                    else
                    {
                        <span>Please correct the following:</span>
                    }
                    @Html.ValidationSummary()
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="well">
                        <form name="applicationForm" role="form" method="post">

                            @Html.Partial("_ApplicationDetails")

                            <div class="row">
                                <hr />
                                <div class="actionCommands">
                                    @Html.ActionLink("Cancel", "CustomerApps", "Home", new { id = @ViewBag.CustomerId }, new { type = "button", Class = "btn btn-primary" })
                                    <input type="submit" class="btn btn-primary" value="Update Application" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
